body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
}

input, select, button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    background: #1f6feb;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
}